# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=aml_monitoring

# Exchange Rate API
EXCHANGE_RATE_API_KEY=4299650994279511afe6ed48

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=your-secret-key-here
